*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projects{
    width: 100%;
    height: 70vh;
    background: url(../images/Work.png) no-repeat;
    background-position: center;
    background-size: contain;
}
.projects .mid-title{
    font-size: 4rem;

}
@media (max-width:600px) {
    .projects{
        height: 50vh;
    }
    .projects .mid-title{
        font-size: 2.5rem;
    }
}
@media (max-width:480px) {
    .projects{
        height: 40vh;
    }
}
